.trash
*.swp
.fuse*
.nfs*
*.aux
*.fdb_latexmk
*.log
*.nav
*.out
algosbcourse.pdf
*.snm
*.toc
VanAexample/1E4E-prot-CA.pdb
VanAexample/VanA-VanAss.dcd
VanAexample/bmus.npy
VanAexample/clusters
VanAexample/projections.npy
VanAexample/smap.npy
